altair==5.5.0
anyio==4.9.0
argon2-cffi==23.1.0
attrs==25.3.0
beautifulsoup4==4.13.4
bleach==6.2.0
blinker==1.9.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
decorator==5.2.1
fastjsonschema==2.21.1
gitpython==3.1.44
hdfs==2.7.3
idna==3.10
ipykernel==6.29.5
ipython==9.2.0
jedi==0.19.2
jinja2==3.1.6
joblib==1.5.1
jsonschema==4.24.0
matplotlib==3.10.3
numpy==2.2.0
pandas==2.2.0
psutil==7.0.0
pillow==10.3.0
protobuf==6.31.0
pyarrow==20.0.0
pydeck==0.9.1
pyspark==3.5.1
python-dateutil==2.9.0
pytz==2024.1
pyyaml==6.0.2
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.0
seaborn==0.13.2
streamlit==1.45.1
tenacity==9.1.2
urllib3==2.4.0
watchdog==6.0.0
